#gameArea{ 
	height: 650px;
	border: 5px groove #c70039;
	background-color: white;
	position: relative;
}
	

#meseStanga, #meseDreapta{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 70%;
	float: left;
}

#meseDreapta {
	float: right;
}
#meseStanga > div, #meseDreapta > div {
	background-color: #f1f1f1;
	width: 200px;
	height: 200px;
	margin: 20px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	/*background-image: url("./Images/red_table.png");*/
	background-size: cover;
	background-position: center;
}

#meseDreapta > div {
	float: right;
}

#butoane {
	align-Items: center;
	display: flex;
	flex-direction: column;
}

.butoane {
	opacity: 75%;
	color: #ffc30f;
	background-color: #c70039;
	border: 1px solid black;
	display: inline;
	margin:: 0px;
}

.clienti {
	height: 100px;
	width: 100px;
	background-image: url('./Images/idle.png');
	background-size: cover;
	position: absolute;
}
