<nav class="nav_bar" id = "mynav_bar">
	<h1 class="titlu"> <a href ="/"> Pizzeria Haștemele </a></h1>		
		<a type="text/html" href="joc">Joc</a>
		
		<% if(!locals.user) { %>
			<a type="text/html" href="signup">Sign Up</a>
		<% }; %>
		<% if(locals.user) { %>
			<a type="text/html" href="logout">Logout</a>
		<% }; %>
		
		<a type="text/html" href="contact">Contact</a>
		<a type="text/html" href="tarif">Tarife</a>
		<div class="dropdown">
			<button class="dropbtn">Meniu</button>
			<div class="dropdown-content">
			<a href="meniu#pizza">Pizza</a>
			<a href="meniu#burgers">Burgers</a>
			<a href="meniu#salate">Salate</a>
			</div>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</nav>