<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>404</title>
		<meta charset="UTF-8">
		<meta name="description" content="404 eroare Haștemele">
		<meta name="keywords" content="pizzeria, Haștemele, 404, eroare">
		<meta name="author" content="Pizzeria Haștemele">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="./favicon/favicon.ico">
	</head>
	<body>
		<h1 style = "font: 30px, arial, black"> 404 </h1>
		<p style = "font: 30px, arial, black"> Haștemeleul a fost introdus gresit </p>
	</body>
</html>