<p> <a href="#"> Pentru mai multe informații despre meniu, despre cum să ne contactați, vizitați și restul opțiunilor din meniul de navigare </a> </p>
<div class = "copyright"> <p> Copyright © 2019 Pizzeria Haștemele</div>