@font-face {
	font-family: myFont;
	src: url('Fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: myFontBlack;
	src: url('Fonts/PlayfairDisplay-Black.ttf');
}

html, body { height: 100%;}

* {
	margin: 0px;
	padding: 0px;
	font-family: myFont, serif;
	font-size: 20px;
}

body {
	background-color: #000;
	background-image: url("./Images/background_image_meniu.jpg");
	background-size: contain;
	background-repeat: repeat;
	color: #ffc30f;
}