p:first-of-type {
	text-align: center;
	font-size: 30px;
}
time:first-of-type {
	font-size: 30px;
}

table{
	border: 3px solid #c70039;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: .625em;
	padding: 0px;
	width: 50%;
}
table caption {
	font-size: 1.25em;
	margin: .5em 0 .75em;
	color: #ffc30f;
}

table tr, td, th {
	border: 1px solid #c70039;
	padding: .35em;
}

table tr {
	background-color: rgba(0,0,0,0.3);
	border: 1px solid #c70039;
	padding: .35em;
}

table th,
table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

aside { font-size: 15px;}

.table_responsive { display: none;}

@media screen and (max-width: 600px){
	table {
		border: 0;
		width: 100%;
	}

	table caption {
		font-size: 1.2em;
	}
		
	table thead {
		display:none;
	}
		
	table tr {
		display: block;
		margin-bottom: .625em;
	}
		
	table td {
		font-size: .8em;
		text-align: right;
		display: block;
	}
	
	.table_responsive {
		display: block;
		text-align: right;
	}
}